.text-17 {
  font-size: 1.0625rem;
}

.text-18 {
  font-size: 1.125rem;
}

.text-dark-grey {
  color: #606469;
}

.info-icon {
  width: 18px;
}

.alt-main-container {
  height: 100%;
  display: grid;
  grid-template-rows: auto minmax(50%, 1fr);
  grid-template-areas:
    "question-container"
    "meta-container";
  overflow: hidden;
}

.question-container {
  height: auto;
  display: flex;
  min-height: 100px;

  &.with-image {
    min-height: 210px;
  }
}

.ln-27 {
  line-height: 27px;
}

.ln-15 {
  line-height: 15px;
}

.min-20 {
  min-height: 20px;
}

.with-bullet {
  padding-left: 5px;

  &:before {
    content: "•";
    display: inline-block;
    margin-left: -12px;
  }
}
