.enter-game {
	font-size: 2em;
	margin-top: 1em;

}

.game-start-timer {
	padding-top:0.5em;
	font-size: 2em;
}

.game-start-message {
	font-size: 1.4em;
}

.prolific-fieldset {
	border: 1px solid black;
	border-radius: 1rem;
	padding: 1rem;
}

.prolific-fieldset > legend {
	padding: 0 0.5rem;
}

.prolific-fieldset > p {
	margin-bottom: 1rem;
}